
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-color: rgb(212, 138, 48);
    --custom-color2: rgb(196, 110, 5);
  --primary-text-color: rgb(170, 104, 23);
  /* --secondary-color: #FFC107; */
}

/* @theme {
  --color-primary: #076b63;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
